@charset "UTF-8";
body .menutdc, body .iconoscontacto {
  gap: 5px; }

body {
  background-color: burlywood; }
  body header {
    display: grid;
    grid-template-columns: 20% 20%;
    grid-template-rows: 10% 90%;
    background-image: linear-gradient(to bottom, bisque, burlywood);
    border-bottom: 4px solid brown; }
    body header #logoimg {
      height: 90px; }
    body header nav {
      display: flex;
      flex-direction: row;
      justify-content: left;
      list-style: none;
      flex-wrap: nowrap; }
      body header nav ul {
        display: flex;
        flex-direction: row; }
        body header nav ul li {
          list-style: none;
          padding: 3px;
          margin: 7px;
          background-color: bisque;
          border: 1px solid brown;
          text-transform: uppercase;
          height: 35px;
          transition: height 2s;
          font-family: Verdana;
          color: black; }
          body header nav ul li:hover {
            font-style: italic;
            height: 50px;
            background-color: rgba(171, 98, 98, 0.518); }
          body header nav ul li a:link {
            color: black; }
          body header nav ul li a:visited {
            color: #eaa717; }
  body .cafeteriafondo {
    background-size: cover;
    width: 100%; }
  body .menutdc {
    max-width: 270px;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #b86b4f;
    transition: height .5s; }
    body .menutdc:hover {
      transform: scale(1, 2); }
  body .titulo {
    text-align: center;
    color: white;
    text-transform: uppercase;
    margin-top: 1rem; }
  body .historia {
    margin-top: 30px;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 3rem; }
  body .fotobeneficios {
    height: 500px;
    width: 500px;
    margin-top: 2rem; }
  body .iconoscontacto {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: -40px; }
  body .dirección {
    margin-top: 20px; }
  body .maincontacto {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 30% 20%; }
  body .ubic {
    margin-bottom: 3rem;
    margin-top: 5%; }
  body .instagram {
    text-decoration: none;
    box-shadow: inset 0; }
  body .carousel {
    width: 50%; }
  body .footer {
    background-color: grey;
    position: fixed;
    bottom: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 0px;
    width: 100%;
    color: white;
    text-decoration: none; }
    body .footer a {
      color: black;
      text-decoration: none; }

@media (min-width: 500px) and (max-width: 640px) {
  .cafeteriafotofondo {
    background-size: cover;
    width: 100%;
    height: 700px; }
  .nav2 {
    margin-top: 45%;
    margin-left: -20%;
    margin-bottom: -65px; }
  .header2 {
    display: grid;
    grid-template-areas: "logoimg" "nav";
    grid-template-columns: 30%;
    grid-template-rows: 10% 20%;
    position: relative; }
  .menutdc {
    margin-left: 170px; }
  .imagenes {
    flex-direction: column;
    margin-left: 80px; }
  .fotobeneficios {
    margin-left: -30%;
    margin-bottom: 3rem; }
  .maincontacto {
    grid-template-columns: 40%; }
  .ubic {
    align-items: center;
    margin-left: 40px;
    height: 250px;
    width: 300px; }
  header {
    grid-template-columns: 50%;
    grid-template-rows: 25%; }
  nav {
    display: flex;
    flex-direction: column;
    margin-bottom: -15px; }
  h3 {
    margin-top: 3rem;
    margin-bottom: -5rem; } }

@media screen and (max-width: 500px) {
  .cafeteriafotofondo {
    background-size: cover;
    width: 100%; }
  .nav2 {
    margin-top: 45%;
    margin-left: -20%;
    margin-bottom: -65px; }
  .header2 {
    display: grid;
    grid-template-areas: "logoimg" "nav";
    grid-template-columns: 30%;
    grid-template-rows: 10% 20%;
    position: relative; }
  ul {
    display: flex;
    flex-wrap: wrap; }
  .imagenes {
    flex-direction: column;
    margin-left: 80px; }
  .fotobeneficios {
    margin-left: -30%;
    margin-bottom: 3rem; }
  .maincontacto {
    grid-template-columns: 40%; }
  .ubic {
    align-items: center;
    margin-left: 40px;
    height: 200px;
    width: 100px; }
  header {
    grid-template-columns: 50%;
    grid-template-rows: 25%; }
  nav {
    display: flex;
    flex-direction: column;
    margin-bottom: -15px; } }
