@import "utilities/variables";

body{
    background-color: burlywood;
    header{
        display: grid;
        grid-template-columns: 20% 20%;
        grid-template-rows: 10% 90%;
        background-image: linear-gradient(to bottom, bisque, burlywood);
        border-bottom: 4px solid brown;
        #logoimg{
            height: 90px;
        }
        nav{
            @include flex;
            flex-direction: row;
            justify-content: left;
            list-style: none;
            flex-wrap: nowrap;
            ul{
            display: flex;
            flex-direction: row;
            li{
                list-style:none;
                padding: 3px;
                margin:7px;
                background-color: bisque;
                border: 1px solid brown;
                text-transform: uppercase;
                height: 35px;
                transition: height 2s;
                font-family: Verdana;
                color:black;
                text-decoration: none;
                &:hover{
                    font-style: italic;
                    height: 50px;
                    color: white;
                    background-color: rgba(171, 98, 98, 0.518);
                }
                
            }
        }
    }
}
    .cafeteriafondo{
        background-size: cover;
        width:100%;
    }

    .menutdc{
        max-width: 270px;
        justify-content: space-between;
        @extend %medidas;
         margin-top: 50px;
         background-color: rgb(184, 107, 79);
         transition: height .5s;
         &:hover{
            transform: scale(1,2);
        }
    }

    .titulo{
        text-align: center;
        color:white;
        text-transform: uppercase;
        margin-top: 1rem;;
    }
    
    .historia{
        margin-top: 30px;
        margin-left: 7rem;;
        margin-right: 7rem;
        margin-bottom: 3rem;
    }
    
    .fotobeneficios{
        height: 500px;
        width: 500px;
        margin-top: 2rem;
    }

    .iconoscontacto{
        @include flex;
        @extend %medidas;
        flex-direction: column;
        font-weight: bold;;
        margin-top:10px;
        margin-bottom: -40px;
    }

    .dirección{
        margin-top: 20px;
    }

    .maincontacto{
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 30% 20%;
    }

    .ubic{
        margin-bottom: 3rem;
        margin-top: 5%;
    }

    .instagram{
        text-decoration: none;
        box-shadow: inset 0;
    }
    .carousel{
        width:50%;
    }

    .staff{
        height: 50px;
        width: 40px;
    }


    .footer{
        background-color:grey;
        position: fixed;
        bottom: 0;
        padding-top:3px;
        padding-bottom:3px;
        margin-top: 0px;
        width: 100%;
        color:white;
        text-decoration: none;
        a{
            color:$color-principal;
            text-decoration: none;
        }
    }

    


}

@media (min-width:500px) and (max-width:640px) {
    .cafeteriafotofondo{
        height: 100px;
    }


    .nav2{
        margin-top: 45%;
        margin-left: -20%;
        margin-bottom: -65px;
    }

    .header2{
        display: grid;
        grid-template-areas: 
        "logoimg"
        "nav";
        grid-template-columns: 30%;
        grid-template-rows: 10% 20%;
        position:relative;
        
    }

    .menutdc{
        margin-left:170px;
    }

    .imagenes{
        flex-direction: column;
        margin-left: 80px;
    }

    .fotobeneficios{
        margin-left: -30%;
        margin-bottom: 3rem;
    }

    .maincontacto{
        grid-template-columns: 40%;
    }

    .ubic{
        align-items: center;
        margin-left: 40px;
        height: 250px;
        width:300px;
    }

    header{
        grid-template-columns: 50%;
        grid-template-rows: 25%;
    }

    nav{
        display: flex;
        flex-direction: column;
        margin-bottom: -15px;
    }


    h3{
        margin-top: 3rem;
        margin-bottom: -5rem;
    }

    .staff{
        height: -150px;
        width: -180px;
    }

}


@media screen and (max-width:500px) {
    
    header{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 20%;
    }

    nav{
        display: flex;
        flex-direction: column;
    }

    li{
        flex-direction: column;
    }

}
